DOMAIN=poll.sommon.cloud
BASE_URL=https://poll.sommon.cloud
POSTGRES_DB=openpresenter
POSTGRES_USER=openpresenter
POSTGRES_PASSWORD=CHANGE_ME_long_random
SECRET_KEY_BASE=CHANGE_ME_generate_with_openssl_rand_base64_64
ENABLE_ACCOUNT_CREATION=false
EMAIL_CONFIRMATION=false
MAIL_TRANSPORT=local
MAIL_FROM=noreply@sommon.cloud
MAIL_FROM_NAME=Open Presenter
OFFICE_ADDIN_ID=5f2b4d0e-8c1a-4c6e-9a3b-0a4d6e7f8b91
